[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
testfixtures = "==5.4.0"
"unittest2" = "==1.1.0"
pypandoc = "==1.4"
coverage = "*"
tox = "*"
codacy-coverage = "*"

[dev-packages]
watchdog = "*"
u-msgpack-python = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
bumpversion = "*"
twine = "*"
line-profiler = "*"
faker = "*"
pympler = "*"

[requires]
python_version = "3.6"
