alabaster==0.7.10
argh==0.26.2
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
codacy-coverage==1.3.11
coverage==4.5.1
docutils==0.14
idna==2.7
imagesize==1.0.0
Jinja2==2.10
linecache2==1.0.0
MarkupSafe==1.0
packaging==17.1
pathtools==0.1.2
pluggy==0.6.0
py==1.5.3
Pygments==2.2.0
pypandoc==1.4
pyparsing==2.2.0
pytz==2018.4
PyYAML==3.12
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
testfixtures==5.4.0
toml==0.9.4
tox==3.0.0
traceback2==1.4.0
u-msgpack-python==2.5.0
unittest2==1.1.0
urllib3==1.23
virtualenv==16.0.0
watchdog==0.8.3
Faker==1.0.7
